:root{                     /* pseudoselectores */ 
    --blanco: #fff;     
    --oscuro: #212121;  /* se inicia con -- como si fuera variable*/
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html{                       /* Hack para que 1rem = 10px */
    font-size: 62.5%;       
}
body{                       
    font-size: 16px;        /* 62.5% de 16px = 10px */
    font-family: "Krub", serif; /*Se pone la fuente en el body para que aplique a todo el HTML*/
}                           
.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;  /* 1200px */
    margin: 0 auto; /* centrar */
}

.nav-bg{
    background-color: var(--secundario); /* se llama la variable */
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
/*  
    Media Querie para la clase Navegacion principal, 
    se activa cuando detecta como minimo un ancho de 768px
*/
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a{   
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
