:root{                     /* pseudoselectores */ 
    --blanco: #fff;     
    --oscuro: #212121;  /* se inicia con -- como si fuera variable*/
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html{                       /* Hack para que 1rem = 10px */
    font-size: 62.5%;    
    box-sizing: border-box; /* para que el padding y margin no afecten el tamaño del elemento */   
}
*, *:before, *:after {
    box-sizing: inherit;    /* hereda el box-sizing de html */
}
body{                       
    font-size: 16px;        /* 62.5% de 16px = 10px */
    font-family: "Krub", serif; /*Se pone la fuente en el body para que aplique a todo el HTML*/
} 
h1{
    font-size: 3.8rem;
}   
h2{
    font-size: 2.8rem;
}   
h3{
    font-size: 1.8rem;
} 
h1,h2,h3{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;  /* 1200px */
    margin: 0 auto; /* centrar */
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
}

@media (min-width: 768px){
    .boton{
        width: auto;
    }
}

.nav-bg{
    background-color: var(--secundario); /* se llama la variable */
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
/*  
    Media Querie para la clase Navegacion principal, 
    se activa cuando detecta como minimo un ancho de 768px
*/
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a{   
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;     /* para que el contenido hijo sea absoluto en relacion a este contenedor */
}
.contenido-hero{
    position: absolute;     /* se posiciona en relacion al contenedor padre */
    background-color: rgba(0, 0, 0, 0.7) ;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}